<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>recipe.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6BCC44E41C97FB1800203771</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6BCC44FD1C97FB1900203771</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6BCC45081C97FB1900203771</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
